<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.alien.mapper.SnailHouseMapper">
    <resultMap id="BaseResultMap" type="com.alien.entity.SnailHouse">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="user_id" jdbcType="INTEGER" property="userId" />
        <result column="location_id" jdbcType="INTEGER" property="locationId" />
        <result column="type" jdbcType="INTEGER" property="type" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="address" jdbcType="VARCHAR" property="address" />
        <result column="house_price" jdbcType="DECIMAL" property="housePrice" />
        <result column="house_img" jdbcType="VARCHAR" property="houseImg" />
        <result column="bedroom" jdbcType="INTEGER" property="bedroom" />
        <result column="bath" jdbcType="INTEGER" property="bath" />
        <result column="bath_img1" jdbcType="VARCHAR" property="bathImg1" />
        <result column="bath_img2" jdbcType="VARCHAR" property="bathImg2" />
        <result column="kitchen" jdbcType="INTEGER" property="kitchen" />
        <result column="kitchen_img1" jdbcType="VARCHAR" property="kitchenImg1" />
        <result column="kitchen_img2" jdbcType="VARCHAR" property="kitchenImg2" />
        <result column="living" jdbcType="INTEGER" property="living" />
        <result column="living_img1" jdbcType="VARCHAR" property="livingImg1" />
        <result column="living_img2" jdbcType="VARCHAR" property="livingImg2" />
        <result column="valid_time" jdbcType="TIMESTAMP" property="validTime" />
        <result column="desp" jdbcType="VARCHAR" property="desp" />
        <result column="create_by" jdbcType="INTEGER" property="createBy" />
        <result column="update_by" jdbcType="INTEGER" property="updateBy" />
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
        <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
        <result column="del_flag" jdbcType="BIT" property="delFlag" />
    </resultMap>
    <sql id="House_Base_Column_List">
    h.id , h.user_id, h.location_id, h.type, h.name, h.address, h.house_price, h.house_img, h.bedroom, h.bath,
    h.bath_img1, h.bath_img2, h.kitchen, h.kitchen_img1, h.kitchen_img2, h.living, h.living_img1, h.living_img2,
    h.vr_img1,h.vr_img2,h.vr_img3,h.valid_time, h.desp, h.create_by, h.update_by, h.create_date, h.update_date, h.del_flag
  </sql>
    <sql id="Room_Base_Column_List">
    r.id, r.house_id, r.name, r.price, r.sale, r.bedroom_img1, r.bedroom_img2, r.desp, r.state, r.praise,
    r.create_by, r.update_by, r.create_date, r.update_date, r.del_flag
  </sql>

    <sql id="House_Column_List">
        h.id AS "hid",
        h.user_id AS "user_id",
        h.location_id AS "location_id",
        h.type AS "type",
        h.name AS "hname",
        h.address AS "address",
        h.house_price AS "house_price",
          h.house_img AS "house_img",
        h.bedroom AS "bedroom",
        h.bath AS "bath",
           h.bath_img1 AS "bath_img1",
              h.bath_img2 AS "bath_img2",
        h.kitchen AS "kitchen",
            h.kitchen_img1 AS "kitchen_img1",
          h.kitchen_img2 AS "kitchen_img2",
        h.living AS "living",
        h.living_img1 AS "living_img1",
           h.living_img2 AS "living_img2",
            h.vr_img1 AS "vr_img1",
            h.vr_img2 AS "vr_img2",
            h.vr_img3 AS "vr_img3",
        h.valid_time AS "valid_time",
        h.desp AS "hdesp",
        h.create_by AS "hcreate_by",
        h.update_by AS "hupdate_by",
        h.create_date AS "hcreate_date",
        h.update_date AS "hupdate_date",
        h.del_flag AS "hdel_flag"
  </sql>
    <sql id="Room_Column_List">
        r.id AS "rid",
        r.house_id AS "house_id",
        r.name AS "rname",
        r.price AS "price",
        r.sale AS "sale",
        r.bedroom_img1 AS "bedroom_img1",
        r.bedroom_img2 AS "bedroom_img2",
        r.desp AS "rdesp",
        r.state AS "state",
        r.praise AS "praise",
        r.create_by AS "rcreate_by",
        r.update_by AS "rupdate_by",
        r.create_date AS "rcreate_date",
        r.update_date AS "rupdate_date",
        r.del_flag AS "rdel_flag"
  </sql>
    <sql id="User_Column_List">
    u.id AS "uid",
    u.sex AS "sex",
    u.username AS "username",
    u.email AS "email",
    u.address AS "address",
    u.certificate AS "certificate"
    </sql>

    <resultMap type="com.alien.entity.SnailHouse" id="HouseResultMap">
        <id column="hid" jdbcType="INTEGER" property="id" />
        <result column="user_id" jdbcType="INTEGER" property="userId" />
        <result column="location_id" jdbcType="INTEGER" property="locationId" />
        <result column="type" jdbcType="INTEGER" property="type" />
        <result column="hname" jdbcType="VARCHAR" property="name" />
        <result column="address" jdbcType="VARCHAR" property="address" />
        <result column="house_price" jdbcType="DECIMAL" property="housePrice" />
        <result column="house_img" jdbcType="VARCHAR" property="houseImg" />
        <result column="bedroom" jdbcType="INTEGER" property="bedroom" />
        <result column="bath" jdbcType="INTEGER" property="bath" />
        <result column="bath_img1" jdbcType="VARCHAR" property="bathImg1" />
        <result column="bath_img2" jdbcType="VARCHAR" property="bathImg2" />
        <result column="kitchen" jdbcType="INTEGER" property="kitchen" />
        <result column="kitchen_img1" jdbcType="VARCHAR" property="kitchenImg1" />
        <result column="kitchen_img2" jdbcType="VARCHAR" property="kitchenImg2" />
        <result column="living" jdbcType="INTEGER" property="living" />
        <result column="living_img1" jdbcType="VARCHAR" property="livingImg1" />
        <result column="living_img2" jdbcType="VARCHAR" property="livingImg2" />
        <result column="vr_img1" jdbcType="VARCHAR" property="vrImg1" />
        <result column="vr_img2" jdbcType="VARCHAR" property="vrImg2" />
        <result column="vr_img3" jdbcType="VARCHAR" property="vrImg3" />
        <result column="valid_time" jdbcType="TIMESTAMP" property="validTime" />
        <result column="hdesp" jdbcType="VARCHAR" property="desp" />
        <result column="hcreate_by" jdbcType="INTEGER" property="createBy" />
        <result column="hupdate_by" jdbcType="INTEGER" property="updateBy" />
        <result column="hcreate_date" jdbcType="TIMESTAMP" property="createDate" />
        <result column="hupdate_date" jdbcType="TIMESTAMP" property="updateDate" />
        <result column="hdel_flag" jdbcType="BIT" property="delFlag" />
        <collection property="snailRooms" ofType="com.alien.entity.SnailRoom" resultMap="RoomResultMap" />
    </resultMap>
    <resultMap type="com.alien.entity.SnailRoom" id="RoomResultMap">
        <id column="rid" jdbcType="INTEGER" property="id" />
        <result column="house_id" jdbcType="INTEGER" property="houseId" />
        <result column="rname" jdbcType="VARCHAR" property="name" />
        <result column="price" jdbcType="DECIMAL" property="price" />
        <result column="sale" jdbcType="DECIMAL" property="sale" />
        <result column="bedroom_img1" jdbcType="VARCHAR" property="bedroomImg1" />
        <result column="bedroom_img2" jdbcType="VARCHAR" property="bedroomImg2" />
        <result column="rdesp" jdbcType="VARCHAR" property="desp" />
        <result column="state" jdbcType="INTEGER" property="state" />
        <result column="praise" jdbcType="BIGINT" property="praise" />
        <result column="rcreate_by" jdbcType="INTEGER" property="createBy" />
        <result column="rupdate_by" jdbcType="INTEGER" property="updateBy" />
        <result column="rcreate_date" jdbcType="TIMESTAMP" property="createDate" />
        <result column="rupdate_date" jdbcType="TIMESTAMP" property="updateDate" />
        <result column="rdel_flag" jdbcType="BIT" property="delFlag" />
        <result column="bannerType" jdbcType="INTEGER" property="bannerType" />
    </resultMap>
    <resultMap id="UserResultMap" type="com.alien.entity.SnailUser">
        <id column="uid" jdbcType="INTEGER" property="id" />
        <result column="sex" jdbcType="INTEGER" property="sex" />
        <result column="username" jdbcType="VARCHAR" property="username" />
        <result column="email" jdbcType="VARCHAR" property="email" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="certificate" jdbcType="INTEGER" property="certificate" />
    </resultMap>

    <select id="houseList" parameterType="com.alien.entity.vo.SnailHouseVO" resultMap="HouseResultMap">
        select
        <include refid="House_Column_List"/>,
        <include refid="Room_Column_List"/>,
        b.type AS "bannerType"
        from snail_house h
        left join snail_room r on r.house_id = h.id
        left join snail_banner b on r.id = b.room_id
        <where>
            h.del_flag = '0'
            and r.del_flag = '0'
            <if test="type != null and type != '' ">
                and h.type = #{type}
            </if>
        </where>
        order by h.create_date DESC
    </select>
    <select id="webhouseList" parameterType="com.alien.entity.vo.SnailHouseVO" resultMap="HouseResultMap">
        select
        <include refid="House_Column_List"/>,
        <include refid="Room_Column_List"/>,
        b.type AS "bannerType"
        from snail_house h
        left join snail_room r on r.house_id = h.id
        left join snail_banner b on r.id = b.room_id
        <where>
            h.del_flag = '0'
            and r.del_flag = '0'
            and r.state = '0'
            <if test="id != null and id != '' ">
                and h.id = #{id}
            </if>
            <if test="locationId != null and locationId != '' ">
                and h.location_id = #{locationId}
            </if>
            <if test="type != null and type != '' ">
                and h.type = #{type}
            </if>
            <if test="bedroom != null and bedroom != '' ">
                and h.bedroom = #{bedroom}
            </if>
            <if test="bath != null and bath != '' ">
                and h.bath = #{bath}
            </if>
            <if test="kitchen != null and kitchen != '' ">
                and h.kitchen = #{kitchen}
            </if>
            <if test="living != null and living != '' ">
                and h.living = #{living}
            </if>
            <if test="minPrice != null and minPrice != '' ">
                and r.price <![CDATA[>=]]> #{minPrice}
            </if>
            <if test="maxPrice != null and maxPrice != '' ">
                and r.price <![CDATA[<=]]> #{maxPrice}
            </if>
            <if test="keyword != null and keyword != '' ">
                or r.name like concat('%',#{keyword},'%')
                or h.address like concat('%',#{keyword},'%')
            </if>
        </where>
        order by h.create_date DESC
    </select>
    <select id="roomList" parameterType="com.alien.entity.vo.SnailHouseVO" resultMap="RoomResultMap">
        select
        <include refid="Room_Column_List" />
        from snail_room r
        LEFT JOIN snail_house h on h.id = r.house_id
        <where>
            h.del_flag = '0'
            and r.del_flag = '0'
            <if test="id != null and id != '' ">
                and h.id = #{id}
            </if>
            <if test="locationId != null and locationId != '' ">
                and h.location_id = #{locationId}
            </if>
            <if test="type != null and type != '' ">
                and h.type = #{type}
            </if>
            <if test="bedroom != null and bedroom != '' ">
                and h.bedroom = #{bedroom}
            </if>
            <if test="bath != null and bath != '' ">
                and h.bath = #{bath}
            </if>
            <if test="kitchen != null and kitchen != '' ">
                and h.kitchen = #{kitchen}
            </if>
            <if test="living != null and living != '' ">
                and h.living = #{living}
            </if>
            <if test="minPrice != null and minPrice != '' ">
                and r.price <![CDATA[>=]]> #{minPrice}
            </if>
            <if test="maxPrice != null and maxPrice != '' ">
                and r.price <![CDATA[<=]]> #{maxPrice}
            </if>
            <if test="keyword != null and keyword != '' ">
                or r.name like concat('%',#{keyword},'%')
                or h.address like concat('%',#{keyword},'%')
            </if>
        </where>
        order by h.create_date DESC
    </select>

    <select id="selectHouse" parameterType="com.alien.entity.vo.SnailRoomVO" resultMap="HouseResultMap">
        select
        <include refid="House_Column_List"/>,
        <include refid="Room_Column_List"/>
        from snail_house h
        left join snail_room r on r.house_id = h.id
        where h.del_flag = '0' and  h.id IN
        (
        select a.house_id
        from snail_room a
        where
            a.del_flag = '0' and a.id = #{id}
        )
    </select>
    <select id="selectRoom" parameterType="com.alien.entity.vo.SnailHouseVO" resultMap="HouseResultMap">
        select
        <include refid="House_Column_List"/>,
        <include refid="Room_Column_List"/>
        from snail_house h
        left join snail_room r on r.house_id = h.id
        where h.del_flag = '0'and r.del_flag = '0' and h.id=#{id}
    </select>

    <select id="selectRooms" resultType="com.alien.entity.SnailRoom">
        select
        <include refid="Room_Column_List"/>
        from snail_room r
        LEFT JOIN snail_house h on h.id = r.house_id
        <where>
            h.del_flag = '0'
            and r.del_flag = '0'
            <if test="id != null and id != '' ">
                and h.id = #{id}
            </if>
        </where>
        order by h.create_date DESC
    </select>

    <insert id="insertHouse" parameterType="com.alien.entity.vo.SnailHouseVO" useGeneratedKeys="true" keyProperty="id">
        insert into snail_house
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="locationId != null">
                location_id,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="address != null">
                address,
            </if>
            <if test="housePrice != null">
                house_price,
            </if>
            <if test="houseImg != null">
                house_img,
            </if>
            <if test="bedroom != null">
                bedroom,
            </if>
            <if test="bath != null">
                bath,
            </if>
            <if test="bathImg1 != null">
                bath_img1,
            </if>
            <if test="bathImg2 != null">
                bath_img2,
            </if>
            <if test="kitchen != null">
                kitchen,
            </if>
            <if test="kitchenImg1 != null">
                kitchen_img1,
            </if>
            <if test="kitchenImg2 != null">
                kitchen_img2,
            </if>
            <if test="living != null">
                living,
            </if>
            <if test="livingImg1 != null">
                living_img1,
            </if>
            <if test="livingImg2 != null">
                living_img2,
            </if>
            <if test="vrImg1 != null">
                vrImg1,
            </if>
            <if test="vrImg2 != null">
                vrImg2,
            </if>
            <if test="vrImg3 != null">
                vrImg3,
            </if>
            <if test="validTime != null">
                valid_time,
            </if>
            <if test="desp != null">
                desp,
            </if>
            <if test="createBy != null">
                create_by,
            </if>
            <if test="updateBy != null">
                update_by,
            </if>
            <if test="createDate != null">
                create_date,
            </if>
            <if test="updateDate != null">
                update_date,
            </if>
            <if test="delFlag != null">
                del_flag,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=INTEGER},
            </if>
            <if test="locationId != null">
                #{locationId,jdbcType=INTEGER},
            </if>
            <if test="type != null">
                #{type,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="address != null">
                #{address,jdbcType=VARCHAR},
            </if>
            <if test="housePrice != null">
                #{housePrice,jdbcType=DECIMAL},
            </if>
            <if test="houseImg != null">
                #{houseImg,jdbcType=VARCHAR},
            </if>
            <if test="bedroom != null">
                #{bedroom,jdbcType=INTEGER},
            </if>
            <if test="bath != null">
                #{bath,jdbcType=INTEGER},
            </if>
            <if test="bathImg1 != null">
                #{bathImg1,jdbcType=VARCHAR},
            </if>
            <if test="bathImg2 != null">
                #{bathImg2,jdbcType=VARCHAR},
            </if>
            <if test="kitchen != null">
                #{kitchen,jdbcType=INTEGER},
            </if>
            <if test="kitchenImg1 != null">
                #{kitchenImg1,jdbcType=VARCHAR},
            </if>
            <if test="kitchenImg2 != null">
                #{kitchenImg2,jdbcType=VARCHAR},
            </if>
            <if test="living != null">
                #{living,jdbcType=INTEGER},
            </if>
            <if test="livingImg1 != null">
                #{livingImg1,jdbcType=VARCHAR},
            </if>
            <if test="livingImg2 != null">
                #{livingImg2,jdbcType=VARCHAR},
            </if>
            <if test="validTime != null">
                #{validTime,jdbcType=TIMESTAMP},
            </if>
            <if test="desp != null">
                #{desp,jdbcType=VARCHAR},
            </if>
            <if test="createBy != null">
                #{createBy,jdbcType=INTEGER},
            </if>
            <if test="updateBy != null">
                #{updateBy,jdbcType=INTEGER},
            </if>
            <if test="createDate != null">
                #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="updateDate != null">
                #{updateDate,jdbcType=TIMESTAMP},
            </if>
            <if test="delFlag != null">
                #{delFlag,jdbcType=BIT},
            </if>
        </trim>
    </insert>
    <insert id="insertRoom" parameterType="com.alien.entity.vo.SnailRoomVO" useGeneratedKeys="true" keyProperty="id">
            insert into snail_room
            <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="id != null">
                    id,
                </if>
                <if test="houseId != null">
                    house_id,
                </if>
                <if test="name != null">
                    name,
                </if>
                <if test="price != null">
                    price,
                </if>
                <if test="sale != null">
                    sale,
                </if>
                <if test="bedroomImg1 != null">
                    bedroom_img1,
                </if>
                <if test="bedroomImg2 != null">
                    bedroom_img2,
                </if>
                <if test="desp != null">
                    desp,
                </if>
                <if test="state != null">
                    state,
                </if>
                <if test="praise != null">
                    praise,
                </if>
                <if test="createBy != null">
                    create_by,
                </if>
                <if test="updateBy != null">
                    update_by,
                </if>
                <if test="createDate != null">
                    create_date,
                </if>
                <if test="updateDate != null">
                    update_date,
                </if>
                <if test="delFlag != null">
                    del_flag,
                </if>
            </trim>
            <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="id != null">
                    #{id,jdbcType=INTEGER},
                </if>
                <if test="houseId != null">
                    #{houseId,jdbcType=INTEGER},
                </if>
                <if test="name != null">
                    #{name,jdbcType=VARCHAR},
                </if>
                <if test="price != null">
                    #{price,jdbcType=DECIMAL},
                </if>
                <if test="sale != null">
                    #{sale,jdbcType=DECIMAL},
                </if>
                <if test="bedroomImg1 != null">
                    #{bedroomImg1,jdbcType=VARCHAR},
                </if>
                <if test="bedroomImg2 != null">
                    #{bedroomImg2,jdbcType=VARCHAR},
                </if>
                <if test="desp != null">
                    #{desp,jdbcType=VARCHAR},
                </if>
                <if test="state != null">
                    #{state,jdbcType=INTEGER},
                </if>
                <if test="praise != null">
                    #{praise,jdbcType=BIGINT},
                </if>
                <if test="createBy != null">
                    #{createBy,jdbcType=INTEGER},
                </if>
                <if test="updateBy != null">
                    #{updateBy,jdbcType=INTEGER},
                </if>
                <if test="createDate != null">
                    #{createDate,jdbcType=TIMESTAMP},
                </if>
                <if test="updateDate != null">
                    #{updateDate,jdbcType=TIMESTAMP},
                </if>
                <if test="delFlag != null">
                    #{delFlag,jdbcType=BIT},
                </if>
            </trim>
    </insert>
    <insert id="insertRooms" parameterType="com.alien.entity.vo.SnailRoomVO">
        <foreach item="item" collection="list" separator=";">
        insert into snail_room
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="houseId != null">
                house_id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="price != null">
                price,
            </if>
            <if test="sale != null">
                sale,
            </if>
            <if test="bedroomImg1 != null">
                bedroom_img1,
            </if>
            <if test="bedroomImg2 != null">
                bedroom_img2,
            </if>
            <if test="desp != null">
                desp,
            </if>
            <if test="state != null">
                state,
            </if>
            <if test="praise != null">
                praise,
            </if>
            <if test="createBy != null">
                create_by,
            </if>
            <if test="updateBy != null">
                update_by,
            </if>
            <if test="createDate != null">
                create_date,
            </if>
            <if test="updateDate != null">
                update_date,
            </if>
            <if test="delFlag != null">
                del_flag,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="houseId != null">
                #{houseId,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="price != null">
                #{price,jdbcType=DECIMAL},
            </if>
            <if test="sale != null">
                #{sale,jdbcType=DECIMAL},
            </if>
            <if test="bedroomImg1 != null">
                #{bedroomImg1,jdbcType=VARCHAR},
            </if>
            <if test="bedroomImg2 != null">
                #{bedroomImg2,jdbcType=VARCHAR},
            </if>
            <if test="desp != null">
                #{desp,jdbcType=VARCHAR},
            </if>
            <if test="state != null">
                #{state,jdbcType=INTEGER},
            </if>
            <if test="praise != null">
                #{praise,jdbcType=BIGINT},
            </if>
            <if test="createBy != null">
                #{createBy,jdbcType=INTEGER},
            </if>
            <if test="updateBy != null">
                #{updateBy,jdbcType=INTEGER},
            </if>
            <if test="createDate != null">
                #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="updateDate != null">
                #{updateDate,jdbcType=TIMESTAMP},
            </if>
            <if test="delFlag != null">
                #{delFlag,jdbcType=BIT},
            </if>
        </trim>
        </foreach>
    </insert>

    <update id="updateHouse" parameterType="com.alien.entity.vo.SnailHouseVO">
        update snail_house
        <set>
            <if test="userId != null">
                user_id = #{userId,jdbcType=INTEGER},
            </if>
            <if test="locationId != null">
                location_id = #{locationId,jdbcType=INTEGER},
            </if>
            <if test="type != null">
                type = #{type,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="address != null">
                address = #{address,jdbcType=VARCHAR},
            </if>
            <if test="housePrice != null">
                house_price = #{housePrice,jdbcType=DECIMAL},
            </if>
            <if test="houseImg != null">
                house_img = #{houseImg,jdbcType=VARCHAR},
            </if>
            <if test="bedroom != null">
                bedroom = #{bedroom,jdbcType=INTEGER},
            </if>
            <if test="bath != null">
                bath = #{bath,jdbcType=INTEGER},
            </if>
            <if test="bathImg1 != null">
                bath_img1 = #{bathImg1,jdbcType=VARCHAR},
            </if>
            <if test="bathImg2 != null">
                bath_img2 = #{bathImg2,jdbcType=VARCHAR},
            </if>
            <if test="kitchen != null">
                kitchen = #{kitchen,jdbcType=INTEGER},
            </if>
            <if test="kitchenImg1 != null">
                kitchen_img1 = #{kitchenImg1,jdbcType=VARCHAR},
            </if>
            <if test="kitchenImg2 != null">
                kitchen_img2 = #{kitchenImg2,jdbcType=VARCHAR},
            </if>
            <if test="living != null">
                living = #{living,jdbcType=INTEGER},
            </if>
            <if test="livingImg1 != null">
                living_img1 = #{livingImg1,jdbcType=VARCHAR},
            </if>
            <if test="livingImg2 != null">
                living_img2 = #{livingImg2,jdbcType=VARCHAR},
            </if>
            <if test="vrImg1 != null">
                vr_img1 = #{vrImg1,jdbcType=VARCHAR},
            </if>
            <if test="vrImg2 != null">
                vr_img2 = #{vrImg2,jdbcType=VARCHAR},
            </if>
            <if test="vrImg3 != null">
                vr_img3 = #{vrImg3,jdbcType=VARCHAR},
            </if>
            <if test="validTime != null">
                valid_time = #{validTime,jdbcType=TIMESTAMP},
            </if>
            <if test="desp != null">
                desp = #{desp,jdbcType=VARCHAR},
            </if>
            <if test="createBy != null">
                create_by = #{createBy,jdbcType=INTEGER},
            </if>
            <if test="updateBy != null">
                update_by = #{updateBy,jdbcType=INTEGER},
            </if>
            <if test="createDate != null">
                create_date = #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="updateDate != null">
                update_date = #{updateDate,jdbcType=TIMESTAMP},
            </if>
            <if test="delFlag != null">
                del_flag = #{delFlag,jdbcType=BIT},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateRoom" parameterType="com.alien.entity.vo.SnailRoomVO">

        update snail_room
        <set>
            <if test="houseId != null">
                house_id = #{houseId,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="price != null">
                price = #{price,jdbcType=DECIMAL},
            </if>
            <if test="sale != null">
                sale = #{sale,jdbcType=DECIMAL},
            </if>
            <if test="bedroomImg1 != null">
                bedroom_img1 = #{bedroomImg1,jdbcType=VARCHAR},
            </if>
            <if test="bedroomImg2 != null">
                bedroom_img2 = #{bedroomImg2,jdbcType=VARCHAR},
            </if>
            <if test="desp != null">
                desp = #{desp,jdbcType=VARCHAR},
            </if>
            <if test="state != null">
                state = #{state,jdbcType=INTEGER},
            </if>
            <if test="praise != null">
                praise = #{praise,jdbcType=BIGINT},
            </if>
            <if test="createBy != null">
                create_by = #{createBy,jdbcType=INTEGER},
            </if>
            <if test="updateBy != null">
                update_by = #{updateBy,jdbcType=INTEGER},
            </if>
            <if test="createDate != null">
                create_date = #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="updateDate != null">
                update_date = #{updateDate,jdbcType=TIMESTAMP},
            </if>
            <if test="delFlag != null">
                del_flag = #{delFlag,jdbcType=BIT},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

  <update id="delete" parameterType="com.alien.entity.vo.SnailHouseVO">
    update snail_house h, snail_room r
    set h.del_flag ='1', r.del_flag ='1'
    where r.house_id = h.id
        AND h.id = #{id,jdbcType=INTEGER}
  </update>

  <update id="updateState" parameterType="com.alien.entity.vo.SnailRoomVO">
    update snail_room
    set state =#{state}
    <where>
        del_flag = '0'
        <if test="id != null and id != '' ">
            and id = #{id}
        </if>
    </where>
  </update>

    <update id="updatePraise" parameterType="com.alien.entity.vo.SnailRoomVO">
        update snail_room
        set praise = praise + 1
        <where>
            del_flag = '0'
            <if test="id != null and id != '' ">
                and id = #{id}
            </if>
        </where>
    </update>

<!--    &lt;!&ndash; 批量导出 &ndash;&gt;-->
<!--    <select id="selectExportList" >-->
<!--        select-->
<!--        code_name AS "codeName",-->
<!--        valid_time AS "validTime",-->
<!--        create_date AS "createDate"-->
<!--        from zz_member_code_xq-->
<!--        where-->
<!--        del_flag = #{DEL_FLAG_NORMAL}-->
<!--        and id in-->
<!--        <foreach collection="list" item="id" index="index" open="(" separator="," close=")">-->
<!--            #{id}-->
<!--        </foreach>-->
<!--    </select>-->


<!--    <select id="countCodedNum" parameterType="com.wezhenzhi.member.entity.AppMemberCode" resultType="int">-->
<!--        select-->
<!--        count(1) AS "codedNum"-->
<!--        from-->
<!--        zz_member_code_xq a-->
<!--        <where>-->
<!--            <if test="id != null and id != ''">-->
<!--                a.code_id = #{id}-->
<!--            </if>-->
<!--            and a.code_state = '1'-->
<!--            and a.del_flag = #{DEL_FLAG_NORMAL}-->
<!--        </where>-->
<!--    </select>-->

</mapper>